* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	color: #042377;
	margin: 0;
}

/**main container**/
.container {
	display: flex;
	flex-wrap: wrap;
	max-width:980px;
	width: 100%;
}

.header {
	flex-wrap: wrap;
	margin-right: 0;
}
	
.row {
  width: 100%; 
}

h1,h2,h3 {
	font-weight: 500;
}

.my-name {
	text-transform: uppercase;
 	text-align: right;
  	font-weight: normal;
}

.section,#my-section {
	flex-wrap: wrap;
}

.border {
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
}

.footer {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}	

p {
	color: black;
}

/*Adding the media queries to make the website responsive when resizing the screen*/

@media screen and (max-width: 550px) {

	.my-name{
		width: 100%;
    	text-align: center;
    	padding: 0;
    	margin: 0;
	}
	.col-md-2{
		max-width: 100%;
		text-align: center;
	}
} 

@media screen and (max-width: 768px) {
	
	.border {
		flex-flow: wrap column;
	}

	.col-md-4 {
		max-width: 100%;
	}
	.tech-pic{
		max-width: 100%;
	}
	.cover{
		max-width: 100%;
	}
}