body{

	font-family: 'Lato', sans-serif;
	color: #747704;
	margin: 0px;
	}

.container{

		max-width:980px;
		}


h1,h2,h3{

	font-weight: 500;

	}

.imges{

	width: 100%;

	}

#unique{

  	display: flex;
  	position: relative;

	}

.logo{
	display: inline-block;
  	width:130px;
  	height:130px;
	}

.text{

	text-transform: uppercase;
	text-align: right;
	font-weight: normal;	

	}

.main{

  	height:300px;

	}

.border{

	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	display: flex;
	flex-wrap: wrap;
	

	}

.tech-pic{

	height: 250px;

	}
/*Adding the media queries to make the website responsive when resizing the screen*/

@media screen and (min-width: 650px) and (max-width: 800px){
	.tech-pic{
		width: 50%;
		align-content: left;
	}
	
} 
